{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="singleProject my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
              <img class="singleProject__preview" src="{{group.group_image.url}}" alt="portfolio thumbnail" />
              {% if request.user.profile.group_id == group %}
                <a class="singleProject__liveLink" href="#"><i class="im im-external-link"></i>
                    초대하기
                </a>
              {% if member_count > 1 %}
                <a class="singleProject__liveLink" href="{% url 'group_withdrawal' group.id %}"><i class="im im-external-link"></i>
                    탈퇴하기
                </a>
                <br>
              {% endif %}
                <a class="singleProject__liveLink" href="{% url 'group_update' group.id %}"><i class="im im-external-link"></i>
                    업데이트
                </a>
                {% if request.user.profile.is_leader %}
                  <a class="singleProject__liveLink" href="{% url 'group_delete' group.id %}?prev=/study_groups"><i class="im im-external-link"></i>
                      스터디 해체😥
                  </a>
                {% endif %}
              {% endif %}
            </div>
            <div class="column column--2of3">
                
                <h2 class="singleProject__title">{{group.name}}</h2>
                <h3 class="singleProject__subtitle">Goal</h3>
                  <h6 class="project--rating">{{group.goal}}</h6>
                <h3 class="singleProject__subtitle">Penalty</h3>
                  <h6 class="project--rating">{{group.penalty}}</h6>
                
                <h3 class="singleProject__subtitle">Member</h3>
                {% for profile in profiles %}
                <div class="column card">
                  <div class="dev">
                    <a href="{% url 'profile' pk=profile.id %}" class="card__body">
                      <div class="dev__profile">
                        <img class="avatar avatar--md" src="{{profile.profile_image.url}}" alt="image" />
                        <div class="dev__meta">
                          <h5 style="color: dimgrey;">{{profile.name}}</h5>
                          {{profile.short_intro|slice:"60"}}
                        </div>
                      </div>
                      <p class="dev__info">{{profile.bio|slice:"150"}}</p>
                    </a>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}