{% extends 'main.html' %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'profile' pk=request.user.profile.id%}"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST">
                {% csrf_token %}

                {% for field in form %}
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}</label>
                    {% if field.label == 'Description' %}
                    다른 사람들을 위해 간단한 풀이 컨셉을 적어주세요!
                    {% endif %}
                    {{field}}
                </div>
                {% endfor %}
                <input class="btn btn--sub btn--lg my-md" type="submit" value="Submit">
            </form>
        </div>
    </div>
</main>

{% endblock %}