{% extends 'main.html' %}

{% block content %}
<main class="inbox my-xl">
    <div class="content-box">
        <h3 class="inbox__title">New Messages(<span>{{unread_count}}</span>)</h3>
        <ul class="messages">
            {% for message in message_requests %}
                {% if message.is_read == True %}
                    <li class="message message">
                {% else %}
                    <li class="message message--unread">
                {% endif %}
                    <a href="{% url 'message' pk=message.id %}?prev=/inbox">
                        {% if message.name %}
                            <span class="message__author">{{message.name}}</span>
                        {% else %}
                            <span class="message__author">{{message.sender.name}}</span>
                        {% endif %}
                        <span class="message__subject">{{message.subject}}</span>
                        <span class="message__date">{{message.created}}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</main>


{% endblock %}