{% extends 'main.html' %}

{% block content %}
  <main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
        <a class="backButton" href="{{request.GET.prev}}"><i class="im im-angle-left"></i></a>
        <h2 class="message__subject">{{message.subject}}</h2>
        {% if message.sender %}
          <a class="message__author" href="{% url 'profile' pk=message.sender.id %}">{{message.name}}</a>
        {% else %}
          <p class="message__author">{{message.name}}</p>
        {% endif %}
          <p class="message__date">{{message.created}}</p>
          <div class="message__body">
            {{message.body|linebreaksbr}}
          </div>
          <br>
          <form class="form" method="POST">
            {% csrf_token %}
            {% if message.is_invite %}
              <input class="btn btn--sub btn--m" type="submit" value="스터디 참여">
            {% endif %}
            <a class="btn btn--sub btn--m" href="{% url 'message_delete' pk=message.id %}?prev=/inbox">삭제</a>
          </form>
      </div>
    </div>
    

  </main>

{% endblock %}