{% extends 'main.html' %}

{% block content %}
<!-- main section -->
<main class="settingsPage profile my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <div class="card text-center">
                    <div class="card__body dev">
                        {% if profile.owner == request.user %}
                            <a class="tag tag--pill tag--main settings__btn" href="{% url 'profile_update' %}"><i class="im im-edit"></i> Edit</a>
                        {% else %}
                            <a class="tag tag--pill tag--main settings__btn" href="{% url 'message_create' profile.id %}"><i class="im im-edit"></i> Message</a>
                        {% endif %}
                        <img class="avatar avatar--xl dev__avatar" src="{{profile.profile_image.url}}" alt="image">
                        <h2 class="dev__name">{{profile.name}}</h2>
                        <p class="dev__title">{{profile.short_intro}}</p>
                        <p class="dev__title">Solved : {{profile.solved_count}}</p>

                        <ul class="dev__social">
                            {% if profile.social_github %}
                                <li>
                                    <a title="Github" href="{{profile.social_github}}" target="_blank"><i class="im im-github"></i></a>
                                </li>
                            {% endif %}
                            {% if profile.social_instagram %}
                                <li>
                                    <a title="instagram" href="{{profile.social_instagram}}" target="_blank"><i class="im im-instagram"></i></a>
                                </li>
                            {% endif %}
                            {% if profile.social_linkedin %}
                                <li>
                                    <a title="linkedin" href="{{profile.social_linkedin}}" target="_blank"><i class="im im-linkedin"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                
                <div class="hero-section__search">
                    <form id="searchForm" class="form" action="{% url 'profile' profile.id %}" method="GET">
                        <div class="form__field">
                            <input class="input input--text" id="formInput#search" type="text" name="search_query"
                                value="{{search_query}}" placeholder="search by algorithm" style="height: 10px; width: 30px;" />
                        </div>
                        <input class="btn btn--sub btn--sm" type="submit" value="Search" />
                    </form>
                </div>
                
            </div>
            <div class="column column--2of3">
                <div class="devInfo">
                    <h3 class="devInfo__title">About Me</h3>
                    <p class="devInfo__about">{{profile.about_me}}</p>
                </div>

                <div class="settings">
                    <h3 class="settings__title">Solved</h3>
                </div>

                <table class="settings__table">
                    <tr>
                        <td class="settings__thumnail">
                            {% for algorithm in algorithms %}
                                <a class="tag tag--pill tag--main setting__btn" href="{{algorithm.link}}" target="_blank">{{algorithm.name}}</a>
                            {% endfor %}
                        </td>
                    </tr>
                </table>

                <div class="settings">
                    <h3 class="settings__title">Algorithms</h3>
                    {% if profile.owner == request.user %}
                    <a class="tag tag--pill tag--sub setting__btn tag--lg" href="{% url 'algorithm_create' %}"><i class="im im-plus"></i> Upload</a>
                    {% endif %}
                </div>

                <table class="settings__table">
                    {% for algorithm in algorithms %}
                    <tr>
                        <td class="settings__tableInfo">
                            <h4><a href="{{algorithm.link}}">{{algorithm.name}}</a>- {{algorithm.type}}</h4>  <br>
                            <p class="devInfo__about">{{algorithm.description}}</p>
                        </td>
                        <td class="settings__tableActions">
                            {% if profile.owner == request.user %}
                            <a class="tag tag--pill tag--main settings__btn" href="{% url 'algorithm_update' pk=algorithm.id %}"><i class="im im-edit"></i> Edit</a>
                            <a class="tag tag--pill tag--main settings__btn" href="{% url 'algorithm_delete' pk=algorithm.id %}"><i class="im im-x-mark-circle-o"></i>Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}