{% extends 'main.html' %}
{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'profiles' %}"><i class="im im-home"></i></a>
            <br>

            <form class="form" method="POST">
                {% csrf_token %}
                <p>정말 "{{object}}"를 지우시겠습니까??</p>
                <a class="btn btn--sub btn--m my-md" href="{{request.GET.prev}}">뒤로가기</a>
                <input class="btn btn--sub btn--m my-md" type="submit" value="삭제하기">
            </form>
        </div>
    </div>
</main>

{% endblock %}