{% extends 'main.html' %}

{% block content %}

<style>
    input[type='text'],
    input[type='email'],
    input[type='password'] {
        min-width: 24rem;
        width: 100%;
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        border: 2px solid var(--color-light);
        transition: all 0.3s ease-in-out;
        background-color: var(--color-bg);
    }

    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    input[type='text']:active,
    input[type='email']:active,
    input[type='password']:active {
        outline: none;
        border: 2px solid var(--color-main);
    }
</style>


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Password reset</h3>

            <p>비밀번호를 잊으셨나요? 아래 이메일을 작성해주세요!<br>
                <b>해당 이메일로 보내드린 메일을 확인하여 새로운 비밀번호를 설정</b>하세요</p>
            <p>시간이 조금 걸릴 수 있습니다. 양해 부탁드립니다. 🙇‍♂️🙇‍♀️</p>
            <br>

            <form class="form" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endblock content %}